<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ori.mapper.TOriFieldMapper">
  <resultMap id="BaseResultMap" type="com.ori.pojo.TOriField">
    <id column="FIELD_ID" jdbcType="INTEGER" property="fieldId" />
    <result column="FIELD_NAME" jdbcType="VARCHAR" property="fieldName" />
    <result column="FIELD_SEQ" jdbcType="INTEGER" property="fieldSeq" />
    <result column="STORAGE_MAXIMUM" jdbcType="INTEGER" property="storageMaximum" />
    <result column="ONLINE_FLAG" jdbcType="INTEGER" property="onlineFlag" />
    <result column="IS_ENABLE" jdbcType="INTEGER" property="isEnable" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    FIELD_ID, FIELD_NAME, FIELD_SEQ, STORAGE_MAXIMUM, ONLINE_FLAG, IS_ENABLE, CREATE_TIME, 
    UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_ORI_FIELD
    where FIELD_ID = #{fieldId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from T_ORI_FIELD
    where FIELD_ID = #{fieldId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ori.pojo.TOriField">
    insert into T_ORI_FIELD (FIELD_ID, FIELD_NAME, FIELD_SEQ, 
      STORAGE_MAXIMUM, ONLINE_FLAG, IS_ENABLE, 
      CREATE_TIME, UPDATE_TIME)
    values (#{fieldId,jdbcType=INTEGER}, #{fieldName,jdbcType=VARCHAR}, #{fieldSeq,jdbcType=INTEGER}, 
      #{storageMaximum,jdbcType=INTEGER}, #{onlineFlag,jdbcType=INTEGER}, #{isEnable,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ori.pojo.TOriField">
    insert into T_ORI_FIELD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fieldId != null">
        FIELD_ID,
      </if>
      <if test="fieldName != null">
        FIELD_NAME,
      </if>
      <if test="fieldSeq != null">
        FIELD_SEQ,
      </if>
      <if test="storageMaximum != null">
        STORAGE_MAXIMUM,
      </if>
      <if test="onlineFlag != null">
        ONLINE_FLAG,
      </if>
      <if test="isEnable != null">
        IS_ENABLE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fieldId != null">
        #{fieldId,jdbcType=INTEGER},
      </if>
      <if test="fieldName != null">
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldSeq != null">
        #{fieldSeq,jdbcType=INTEGER},
      </if>
      <if test="storageMaximum != null">
        #{storageMaximum,jdbcType=INTEGER},
      </if>
      <if test="onlineFlag != null">
        #{onlineFlag,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ori.pojo.TOriField">
    update T_ORI_FIELD
    <set>
      <if test="fieldName != null">
        FIELD_NAME = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldSeq != null">
        FIELD_SEQ = #{fieldSeq,jdbcType=INTEGER},
      </if>
      <if test="storageMaximum != null">
        STORAGE_MAXIMUM = #{storageMaximum,jdbcType=INTEGER},
      </if>
      <if test="onlineFlag != null">
        ONLINE_FLAG = #{onlineFlag,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null">
        IS_ENABLE = #{isEnable,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FIELD_ID = #{fieldId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ori.pojo.TOriField">
    update T_ORI_FIELD
    set FIELD_NAME = #{fieldName,jdbcType=VARCHAR},
      FIELD_SEQ = #{fieldSeq,jdbcType=INTEGER},
      STORAGE_MAXIMUM = #{storageMaximum,jdbcType=INTEGER},
      ONLINE_FLAG = #{onlineFlag,jdbcType=INTEGER},
      IS_ENABLE = #{isEnable,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where FIELD_ID = #{fieldId,jdbcType=INTEGER}
  </update>
</mapper>